@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management</h1>
    <p class="lead">Library management is a free web site to handle the day to day operations in a Book Library. 
    This contains different views for staff and admin. </p>
    <p><a href="https://mybooklibrary.com/document/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Library management is a free web site to handle the day to day operations in a Book Library.
            This contains different views for staff and admin.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>    
</div>